# US School Analysis

## Imports

In [62]:
# Include all your imports here
import pandas as pd
from pathlib import Path

## Read Data

In [63]:
# Load the Public school dataset
resource_path = Path(".\Resources\public_school_data.csv")
df_data = pd.DataFrame(pd.read_csv(resource_path))
df_data

,NCESSCH,LSTATE,SCHOOL_LEVEL,SCHOOL_TYPE_TEXT,TOTAL,FTE,STUTERATIO,AM,AS,BL,HP,HI,TR,WH
0,10000500870,AL,Middle,Regular school,908.0,42.0,21.62,2.0,4.0,33.0,0.0,469.0,29.0,371.0
1,10000500871,AL,High,Regular school,1606.0,82.0,19.59,1.0,6.0,70.0,0.0,785.0,38.0,706.0
2,10000500879,AL,Middle,Regular school,891.0,41.0,21.73,4.0,7.0,24.0,1.0,481.0,29.0,345.0
3,10000500889,AL,Elementary,Regular school,908.0,49.0,18.53,4.0,4.0,48.0,0.0,497.0,15.0,340.0
4,10000501616,AL,Elementary,Regular school,556.0,30.0,18.53,4.0,2.0,33.0,0.0,288.0,13.0,216.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100717,780003000024,VI,Elementary,Regular school,328.0,26.0,12.62,NaN,7.0,254.0,NaN,59.0,2.0,6.0
100718,780003000026,VI,Elementary,Regular school,477.0,25.0,19.08,1.0,4.0,394.0,2.0,64.0,3.0,9.0
100719,780003000027,VI,Elementary,Regular school,397.0,29.0,13.69,1.0,7.0,322.0,1.0,57.0,NaN,9.0
100720,780003000033,VI,Middle,Regular school,763.0,62.0,12.31,1.0,7.0,583.0,NaN,153.0,1.0,18.0
100721,780003000034,VI,Middle,Regular school,577.0,47.0,12.28,NaN,4.0,516.0,NaN,55.0,NaN,2.0

In [64]:
# Load the Public school locations dataset
resource_path = Path(".\Resources\public_school_locations.csv")
df_locations = pd.DataFrame(pd.read_csv(resource_path))
df_locations

                  ID     LATCOD     LONCOD
0        10000500870  34.260200 -86.206200
1        10000500871  34.262200 -86.204900
2        10000500879  34.273300 -86.220100
3        10000500889  34.252700 -86.221806
4        10000501616  34.289800 -86.193300
...              ...        ...        ...
100717  780003000024  18.341950 -64.917602
100718  780003000026  18.338742 -64.952483
100719  780003000027  18.354782 -64.899024
100720  780003000033  18.336658 -64.945940
100721  780003000034  18.318230 -64.890311

[100722 rows x 3 columns]

In [65]:
# Load the Public school data dictionary file
resource_path = Path(".\Resources\school_data_dictionary.csv")
df_dictionary = pd.DataFrame(pd.read_csv(resource_path))
df_dictionary["Fields"].__contains__("NCESSCH")

False

## Data Exploration and Preparation

In [66]:
# Use an .isin() function to keep only columns in df_data which match field names in df_dictionary.
# Identify the unique ID column.
df_temp = df_data.columns.isin(df_dictionary["Fields"])
df_temp

#df_data.isin

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [67]:
# Ensure the column you selected is indeed a unique identifier by checking the number of uniqe values and comparing it to the number of rows in the dataframe

In [68]:
# Change the names of the unique ID column in both the location data and public school data to match and set them as index

In [69]:
# Check your work

In [70]:
# Check your work

In [71]:
# Join the location and data dataframes together

In [72]:
# Get the value counts for the school type column

In [73]:
# Create a subset of the dataframe that only includes regular schools ensure it was successful by comparing rows in the subset to the value counts above

## Data Cleaning and dealing with nulls

In [74]:
# Check for nulls and determine the best approach for dealing with them

In [75]:
# Fill some of the columns with 0 where it makes sense

In [76]:
# Verify changes to nulls and prepare to drop na

In [77]:
# Drop remaining nulls wher it would make sense

In [78]:
# Verify changes to nulls and no nulls should remain

## Plotting to help Clean the Data

In [79]:
# Plot a histogram of Total enrolled students and check for outliers

In [80]:
# Plot a histogram of Total Teachers and check for outliers

In [81]:
# Plot a histogram of Student Teacher Ratio and check for outliers

In [82]:
# Re-Plot a histogram of Total enrolled students after removing 0s and outliers above the 99th quantile

In [83]:
# Re-Plot a histogram of Total Teachers after removing 0s and outliers above the 99th quantile

In [84]:
# Re-Plot a histogram of Student Teacher Ratio after removing 0s and outliers above the 99th quantile

## Correlation Plot to Understand Data Relationships

In [85]:
# Use seaborn to generate a correlation heatmap for the columns in the dataframe

## Geographic Plots

In [86]:
# Plot only schools from the 48 contiguous US states or the 50 US states (drop territories and PR)

In [87]:
# Plot only schools in your state

## School Quality Analysis: Student/Teacher Ratios

In [88]:
# Use the dataframe that has filtered out the outliers in Student Teacher Ratio and group by state and get the average
# Show the highest 5 Student/Teacher ratios and lowest 5 Student/Teacher ratios as well as the average for your state

In [89]:
# What is the mean of the Student/Teacher Ratio

In [90]:
# What is the standard deviation of the Student/Teacher Ratio

In [91]:
# Plot the states ratios in descending order

In [92]:
# Plot a boxplot of the Student/Teacher Ratios

In [93]:
# List or Plot the Highest 5 states

In [94]:
# List or plot the lowest 5

In [95]:
# Print your state's Student Teacher Ratios

## Summarize your findings from any of the analysis or plots above:
* Were there any interesting Correlations?
* How did your state compare to others?
* Would you have made any different decisions in the earlier cleaning stages after becoming more familiar with the data?
* What is going on in IL?
* What other analysis could be done with this data?

## BONUS: Generate other interesting analysis or plots

In [96]:
# Your code below