# US School Analysis

## Imports

In [ ]:
# Include all your imports here

## Read Data

In [ ]:
# Load the Public school dataset

In [ ]:
# Load the Public school locations dataset

In [ ]:
# Load the Public school data dictionary file

## Data Exploration and Preparation

In [ ]:
# Use an .isin() function to keep only fields that appear in the main public_school_data.csv and identify the unique id column

In [ ]:
# Ensure the column you selected is indeed a unique identifier by checking the number of uniqe values and comparing it to the number of rows in the dataframe

In [ ]:
# Change the names of the unique ID column in both the location data and public school data to match and set them as index

In [ ]:
# Check your work

In [ ]:
# Check your work

In [ ]:
# Join the location and data dataframes together

In [ ]:
# Get the value counts for the school type column

In [ ]:
# Create a subset of the dataframe that only includes regular schools ensure it was successful by comparing rows in the subset to the value counts above

## Data Cleaning and dealing with nulls

In [ ]:
# Check for nulls and determine the best approach for dealing with them

In [ ]:
# Fill some of the columns with 0 where it makes sense

In [ ]:
# Verify changes to nulls and prepare to drop na

In [ ]:
# Drop remaining nulls wher it would make sense

In [ ]:
# Verify changes to nulls and no nulls should remain

## Plotting to help Clean the Data

In [ ]:
# Plot a histogram of Total enrolled students and check for outliers

In [ ]:
# Plot a histogram of Total Teachers and check for outliers

In [ ]:
# Plot a histogram of Student Teacher Ratio and check for outliers

In [ ]:
# Re-Plot a histogram of Total enrolled students after removing 0s and outliers above the 99th quantile

In [ ]:
# Re-Plot a histogram of Total Teachers after removing 0s and outliers above the 99th quantile

In [ ]:
# Re-Plot a histogram of Student Teacher Ratio after removing 0s and outliers above the 99th quantile

## Correlation Plot to Understand Data Relationships

In [ ]:
# Use seaborn to generate a correlation heatmap for the columns in the dataframe

## Geographic Plots

In [ ]:
# Plot only schools from the 48 contiguous US states or the 50 US states (drop territories and PR)

In [ ]:
# Plot only schools in your state

## School Quality Analysis: Student/Teacher Ratios

In [ ]:
# Use the dataframe that has filtered out the outliers in Student Teacher Ratio and group by state and get the average
# Show the highest 5 Student/Teacher ratios and lowest 5 Student/Teacher ratios as well as the average for your state

In [ ]:
# What is the mean of the Student/Teacher Ratio

In [ ]:
# What is the standard deviation of the Student/Teacher Ratio

In [ ]:
# Plot the states ratios in descending order

In [ ]:
# Plot a boxplot of the Student/Teacher Ratios

In [ ]:
# List or Plot the Highest 5 states

In [ ]:
# List or plot the lowest 5

In [ ]:
# Print your state's Student Teacher Ratios

## Summarize your findings from any of the analysis or plots above:
* Were there any interesting Correlations?
* How did your state compare to others?
* Would you have made any different decisions in the earlier cleaning stages after becoming more familiar with the data?
* What is going on in IL?
* What other analysis could be done with this data?

## BONUS: Generate other interesting analysis or plots

In [ ]:
# Your code below